<div class="container footer__inner">
  <div class="footer__grid">
    <div class="footer__brand-block">
      <p class="footer__brand">IONIC PRO</p>
      <p class="footer__tagline">美しい髪のための、<br>革新的なヘアケアテクノロジー</p>
    </div>
    <div class="footer__col">
      <p class="footer__heading">サイトマップ</p>
      <ul class="footer__links">
        <li><a href="#">製品情報</a></li>
        <li><a href="#">使い方ガイド</a></li>
        <li><a href="#faq">よくある質問</a></li>
        <li><a href="#">お問い合わせ</a></li>
        <li><a href="#">会社概要</a></li>
        <li><a href="#">プライバシーポリシー</a></li>
      </ul>
    </div>
    <div class="footer__col">
      <p class="footer__heading">フォローする</p>
      <ul class="footer__social">
        <li><a href="#" aria-label="Facebook">FB</a></li>
        <li><a href="#" aria-label="Twitter">TW</a></li>
        <li><a href="#" aria-label="Instagram">IG</a></li>
        <li><a href="#" aria-label="YouTube">YT</a></li>
      </ul>
    </div>
  </div>
  <p class="footer__bottom">© 2026 IONIC PRO. All rights reserved.</p>
</div>
