<div class="container howtouse">
  <div class="section-head">
    <p class="section-head__en">HOW TO USE</p>
    <p class="section-head__ja">使用方法</p>
  </div>
  <ol class="howtouse__steps">
    <li class="howtouse__step">
      <img src="assets/img/howtouse-step1.png" alt="電源を入れて温度設定する様子" class="howtouse__step-img" loading="lazy" width="411" height="411">
      <span class="howtouse__step-number">STEP 1</span>
      <p class="howtouse__step-title">電源を入れて温度設定</p>
      <p class="howtouse__step-desc">ボタンを押して電源ON。髪質に合わせて温度を選択します。</p>
    </li>
    <li class="howtouse__step">
      <img src="assets/img/howtouse-step2.png" alt="髪を挟んでスライドする様子" class="howtouse__step-img" loading="lazy" width="411" height="411">
      <span class="howtouse__step-number">STEP 2</span>
      <p class="howtouse__step-title">髪を挟んでスライド</p>
      <p class="howtouse__step-desc">髪の毛束を取り、根元から毛先に向かってゆっくりスライド。</p>
    </li>
    <li class="howtouse__step">
      <img src="assets/img/howtouse-step3.png" alt="仕上がった髪の様子" class="howtouse__step-img" loading="lazy" width="411" height="411">
      <span class="howtouse__step-number">STEP 3</span>
      <p class="howtouse__step-title">仕上げ</p>
      <p class="howtouse__step-desc">全体をスタイリングしたら完成。ツヤのある美しい髪に。</p>
    </li>
  </ol>
  <div class="howtouse__cta">
    <a href="#cta" class="btn-primary">今すぐうるツヤ髪を試す</a>
  </div>
</div>
