<div class="container otherseries">
  <div class="section-head">
    <p class="section-head__en">OTHER SERIES</p>
    <p class="section-head__ja">他のヘアケア商品</p>
  </div>
  <ul class="otherseries__list">
    <li class="otherseries__item">
      <img src="assets/img/otherseries-icon1.png" alt="" class="otherseries__icon" loading="lazy" width="50" height="50">
      <p class="otherseries__name">カールアイロン</p>
    </li>
    <li class="otherseries__item">
      <img src="assets/img/otherseries-icon2.png" alt="" class="otherseries__icon" loading="lazy" width="50" height="50">
      <p class="otherseries__name">ロールブラシアイロン</p>
    </li>
    <li class="otherseries__item">
      <img src="assets/img/otherseries-icon3.png" alt="" class="otherseries__icon" loading="lazy" width="50" height="50">
      <p class="otherseries__name">コームアイロン</p>
    </li>
    <li class="otherseries__item">
      <img src="assets/img/otherseries-icon4.png" alt="" class="otherseries__icon" loading="lazy" width="50" height="50">
      <p class="otherseries__name">ドライヤー</p>
    </li>
  </ul>
</div>
